### Actividad Evaluable: Mapas de calor y boxplots
---
#### Integrantes:
- Jorge Angel Delgado Morales (A01551955)
- Juan Carlos Ferrer Echeverría (A01734794)

In [45]:
import pandas as pd
df = pd.read_csv("ulabox_orders_with_categories_partials_2017.csv")

In [46]:
columnas = len(df.columns)
filas = len(df)
print(f"Número de columnas: {columnas}")
print(f"Número de filas: {filas}")

Número de columnas: 14
Número de filas: 30000

Tipos de variables aleatorias (Discretas vs Continuas):
* **Discretas**: customer, hour, weekday, 
* **Continuas**: order, total_items, discount%, Food%, Fresh%, Drinks%, Home%, Beauty%, Health%, Baby%, Pets%

In [47]:
df.describe()

,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,5012.483367,14999.500000,31.739933,8.455495,3.642367,15.034667,23.560406,20.227279,23.349235,13.539575,5.892949,1.132959,11.096145,1.043087
std,2888.646245,8660.398374,20.576579,14.199350,2.122031,5.717052,21.719824,23.661767,22.523335,17.850282,13.996518,5.307620,24.740364,6.195390
min,0.000000,0.000000,1.000000,-65.150000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2541.750000,7499.750000,18.000000,1.177500,2.000000,11.000000,7.220000,0.000000,6.710000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5043.000000,14999.500000,29.000000,4.160000,3.000000,15.000000,19.650000,10.930000,17.890000,7.210000,0.000000,0.000000,0.000000,0.000000
75%,7483.000000,22499.250000,41.000000,9.990000,5.000000,20.000000,33.260000,35.790000,33.162500,20.002500,6.512500,0.000000,4.172500,0.000000
max,10238.000000,29999.000000,298.000000,100.000000,7.000000,23.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer     30000 non-null  int64
 1   order        30000 non-null  int64
 2   total_items  30000 non-null  int64
 3   discount%    30000 non-null  float64
 4   weekday      30000 non-null  int64
 5   hour         30000 non-null  int64
 6   Food%        30000 non-null  float64
 7   Fresh%       30000 non-null  float64
 8   Drinks%      30000 non-null  float64
 9   Home%        30000 non-null  float64
 10  Beauty%      30000 non-null  float64
 11  Health%      30000 non-null  float64
 12  Baby%        30000 non-null  float64
 13  Pets%        30000 non-null  float64
dtypes: float64(9), int64(5)
memory usage: 3.2 MB

In [49]:
df.head(10)

,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
0,0,0,45,23.03,4,13,9.46,87.06,3.48,0.00,0.00,0.00,0.0,0.0
1,0,1,38,1.22,5,13,15.87,75.80,6.22,2.12,0.00,0.00,0.0,0.0
2,0,2,51,18.08,4,13,16.88,56.75,3.37,16.48,6.53,0.00,0.0,0.0
3,1,3,57,16.51,1,12,28.81,35.99,11.78,4.62,2.87,15.92,0.0,0.0
4,1,4,53,18.31,2,11,24.13,60.38,7.78,7.72,0.00,0.00,0.0,0.0
5,1,5,8,23.89,4,13,0.00,100.00,0.00,0.00,0.00,0.00,0.0,0.0
6,1,6,35,17.26,1,10,13.01,51.84,29.36,5.79,0.00,0.00,0.0,0.0
7,1,7,12,6.61,4,8,17.21,67.93,14.86,0.00,0.00,0.00,0.0,0.0
8,1,8,35,22.29,1,12,15.50,61.65,22.85,0.00,0.00,0.00,0.0,0.0
9,1,9,44,20.39,2,12,15.29,44.11,12.28,8.90,15.53,3.90,0.0,0.0

In [50]:
df.tail(10)

,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
29990,10231,29990,22,8.97,7,12,29.74,28.72,19.52,22.02,0.0,0.0,0.0,0.0
29991,10231,29991,15,3.92,5,11,23.38,35.70,40.92,0.00,0.0,0.0,0.0,0.0
29992,10232,29992,2,0.00,4,15,0.00,0.00,0.00,0.00,0.0,0.0,100.0,0.0
29993,10233,29993,5,28.00,4,16,0.00,0.00,0.00,0.00,0.0,0.0,100.0,0.0
29994,10234,29994,1,0.00,4,16,0.00,0.00,0.00,0.00,0.0,0.0,100.0,0.0
29995,10235,29995,4,0.00,5,10,5.80,0.00,51.30,0.00,0.0,0.0,0.0,42.9
29996,10236,29996,1,0.00,7,21,0.00,0.00,0.00,0.00,100.0,0.0,0.0,0.0
29997,10237,29997,54,0.00,4,17,9.25,0.00,77.48,13.27,0.0,0.0,0.0,0.0
29998,10237,29998,10,0.00,5,10,0.00,0.00,100.00,0.00,0.0,0.0,0.0,0.0
29999,10238,29999,2,0.00,4,17,0.00,0.00,0.00,0.00,0.0,0.0,100.0,0.0