### Actividad Evaluable: Mapas de calor y boxplots
---
#### Integrantes:
- Jorge Angel Delgado Morales (A01551955)
- Juan Carlos Ferrer Echeverría (A01734794)

In [14]:
import pandas as pd
df = pd.read_csv("datasets/data/ulabox_orders_with_categories_partials_2017.csv")

In [15]:
columnas = len(df.columns)
filas = len(df)
print(f"Número de columnas: {columnas}")
print(f"Número de filas: {filas}")

Número de columnas: 7
Número de filas: 1338

Tipos de variables aleatorias (Discretas vs Continuas):
* Discretas: age, sex, children, smoker, region
* Continuas: bmi, charges

In [16]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [18]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [23]:
df.tail(10)

      age     sex     bmi  children smoker     region      charges
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

In [43]:
df['age'].mean()

39.20702541106129

In [44]:
df.sort_values(by = "charges")

      age     sex     bmi  children smoker     region      charges
940    18    male  23.210         0     no  southeast   1121.87390
808    18    male  30.140         0     no  southeast   1131.50660
1244   18    male  33.330         0     no  southeast   1135.94070
663    18    male  33.660         0     no  southeast   1136.39940
22     18    male  34.100         0     no  southeast   1137.01100
...   ...     ...     ...       ...    ...        ...          ...
819    33  female  35.530         0    yes  northwest  55135.40209
577    31  female  38.095         1    yes  northeast  58571.07448
1230   52    male  34.485         3    yes  northwest  60021.39897
1300   45    male  30.360         0    yes  southeast  62592.87309
543    54  female  47.410         0    yes  southeast  63770.42801

[1338 rows x 7 columns]